# Node
backend/node_modules/

# Environment / secrets
backend/.env
.env
.env.*

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Android
frontend/android/.gradle/
frontend/android/local.properties

# Firebase / sensitive config
frontend/android/app/google-services.json

# Temporary debug/error files
frontend/build_error.txt
frontend/gradle_error.txt

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
# Flutter DevTools
frontend/devtools_options.yaml